include mixins

footer
  div
    p Fredrik Sundberg 2019

  div
    ul
      each url, name in social
        li
          a(href=url target="_blank")
            +icon(name)= name

script(src="/app.min.js")
+analytics(analyticsID)
