meta(charset="utf-8")
title Sundberg Media - Personal portfolio of Fredrik Sundberg
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css")
link(rel="stylesheet" href='/' + version + '.css')
