extends box

include mixins

block variables
  - mainClass = 'projects'
  - name = 'projects'

block content
  h2 Projects
  p.lead List of a few recent projects.


  each project, id in projects
    .project
      .description
        a(href=project.url target='_blank')
          h3=project.name

        p= project.description

        //- //- features
        //- +list(project.features, 'features').testa

        //- +list(project.keywords, 'keywords')
        .keywords
          //- +iconlist(project.keywords)
          each skill in project.keywords
            +icon(skill)


      .images
        a(href=project.url target='_blank')
          img(src='/projects/' + project.name.toLowerCase() + '.png')
