extends box

include mixins


block variables
  - mainClass = 'skills'
  - name = 'skills'

block content
  h2 Skills
  p.lead I have expertice in among the following languages, frameworks & technologies:
  
  .skills-list
    each technologies, name in skills
      .skill
        h3= name
        +iconlist(technologies)
