extends box

include mixins

block variables
  - mainClass = 'start'
  - name = 'start'

block content
  h2=title
  p.lead !{introduction}
  img(src='/logo.svg' alt='Logo')
  a(htef='#contact').ad=ad
