extends box

include mixins

block variables
  - mainClass = 'start'
  - name = 'start'

block content
  .box
    .box.columns
      .box.columns
        p.lead !{introduction}
      div
        each p in intro
          p !{p}

    img.logo(src='/logo.svg' alt='Logo')

  a(href='#contact').ad=ad
