// color config
// * => https://materialuicolors.co/
ACCEPT = #8BC34A
INFO = #03A9F4
ERROR = #FF5252
WARNING = #FF5252 // #00BCD4
DARK = #222
PURP = #9C27B0

// main theme colors
BGCOLOR = #212224
BORDERCOLOR = #333
ACCENT = #C6FF00

// media break points
PHONE = 420px
MEDIUM = 650px
LARGE = 980px
