/*!
 * Extras
 */


// ad thing
.ad
  z-index: 2000000
  background: #e43;
  text-align: center;
  line-height: 50px;
  color: #f0f0f0;
  transition: all 400ms

  &:hover
    background: lighten(#e42, 20%)
    cursor: pointer !important

  @media screen and (min-width: 600px)
    position absolute
    width: 500px;
    top: 100px;
    right: -100px;
    transform: rotate(45deg);

/*!
 * Fixes
 */

.clear
  clear: both

.center
  text-align: center

nav
  z-index: 10000

body
  overflow-x hidden

.logo
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.15))


.columns p
  margin-right: 1em
