footer
  border-top: 1px solid #333
  // padding: .4em .4em 0
  display: flex
  color: #eee
  padding: .4em
  padding-bottom: 2em

  // hax!
  max-height: 40px
  overflow: hidden

  div
    // flex-grow: 1
    border-right: 1px solid #333
    margin: 0 .4em

  // ul
  //   border: 1px solid red

  li
    display: inline

  a

  .icon
    // padding: .4em !important
    margin-top: .2em
    color: white
    transition: color 300ms
    &:hover
      color: blue
