/*!
 * Main stylings
 */ 
body
  min-height: 100vh

section
  border-bottom: 1px solid #444
  background: #222
  color: #eee
  flex()
  padding: 1em
  
  @media screen and (min-width: 900px)
    min-height: 100vh
    padding: 4em 2em
  
  // &:nth-child(even)
  //   background: #333

  article
    width: 100%
    max-width: 1140px

.start
  img
    max-width: 300px
    height: auto

.full-size, .full-size > article
  max-width: 100%
  max-width: 110000px !important

/// kakke
.skillz
  font-size: 300%

.skills-list
  display: grid
  // grid-template-columns: repeat(3, 1fr)
  grid-template-columns: repeat( auto-fill, minmax(270px, 1fr) );
  grid-gap: 2em
  margin-top: 2em
  font-size: 69%
