/*!
 * Main stylings
 */ 
body
  min-height: 100vh

section
  min-height: 100vh
  border-bottom: 1px solid #444
  background: #222
  color: #eee
  padding: 4em 2em
  flex()
  // &:nth-child(even)
  //   background: #333

  article
    width: 100%
    max-width: 1140px

.start
  img
    max-width: 300px
    height: auto

.full-size, .full-size > article
  max-width: 100%
  max-width: 110000px !important

/// kakke
.skillz
  font-size: 300%

.skills-list
  display: grid
  grid-template-columns: repeat(3, 33%)
  grid-gap: 2em
  margin-top: 2em
  font-size: 69%
