@require config

/*!
 * Menu
 */

nav
  background: BGCOLOR
  width: 100%
  padding: 0.75em 1em
  border-bottom: 1px solid #999
  @media screen and (min-width: LARGE)
    position: fixed

  ul
    display block
      @media screen and (min-width: MEDIUM)
        display: flex
        align-items: center

    li
      @media screen and (min-width: MEDIUM)
        display: inline
      
      &:first-of-type
        margin-right: .5em      

      a
        color: #eee
        transition: all 500ms
        @media screen and (min-width: MEDIUM)
          border-right: 1px solid rgba(250, 250, 250, 0.4)
          padding: 0 1em

      a.active
        color: ACCENT

      &:last-of-type
        a
          border-right: none

  @media screen and (max-width: MEDIUM)  
    ul.collapsed
      border: 1px solid blue

      li
        display: none
        &:first-of-type
          display: block
