nav
  background: #333
  width: 100%
  position: fixed
  border-bottom: 1px solid #999
  ul
    li
      display: inline
      a
        padding: 0 1em
        color: #eee
        border-right: 1px solid #eee
        &:hover
          background: blue
