.skills
  .skillz
    // border: 1px solid red
    display block
    clear: both

    ul
      // display: flex
      // justify-content: space-between

      // li
      //   margin-right: .4em !important
      //   border-right: .4em solid red !important
