/*!
 * Theme colors
 */

// https://cssgradient.io/gradient-backgrounds/

.start
  background-image: linear-gradient( 109.1deg,  rgba(42,132,201,1) 14.6%, rgba(47,249,233,1) 108.2% );

.projects
  // background-image: linear-gradient( 115.7deg,  rgba(3,79,135,1) 6.2%, rgba(0,184,214,1) 112.9% );
  background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% );
  background-size: cover
  background-attachment: fixed

.skills
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(149,219,254,1) 0%, rgba(7,134,197,1) 90.1% );

.contact
  background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgba(74,98,110,1) 0.3%, rgba(30,33,48,1) 90.2% )

footer
  background: #222
